type airupd_t;
type airupd_exec_t;
type airup_client_t;
type airup_client_exec_t;
type airup_runtime_file_t;

attribute airup_static_resource;

type airup_service_file_t, airup_static_resource;
type airup_milestone_file_t, airup_static_resource;
type airup_config_file_t, airup_static_resource;
type airup_system_config_file_t, airup_static_resource;

type airup_data_file_t;

allow airupd_t airup_runtime_file_t : unix_stream_socket { create bind read write sendto listen setattr shutdown accept name_bind };
allow airupd_t airup_runtime_file_t : file { create read write open lock rename setattr };
allow airupd_t airup_static_resource : file { read open };
allow airupd_t airup_static_resource : dir { getattr read open search };
allow airupd_t airup_data_file_t : file { create read write getattr setattr lock unlink link open };
allow airupd_t airup_data_file_t : dir { create read write getattr setattr search rmdir remove_name add_name reparent open };

allow airup_client_t airup_runtime_file_t : unix_stream_socket { read write connect };
allow airup_client_t airup_runtime_file_t : file { read open };
allow airup_client_t airup_static_resource : file { create read write open lock };
allow airup_client_t airup_static_resource : dir { getattr read open search write lock };
allow airup_client_t airup_data_file_t : file { read getattr open };
allow airup_client_t airup_data_file_t : dir { read getattr search open };
